.date-available-slider-container {
    display: flex;
    flex-direction: row;
}

.date-available-slider-container .title {
    display: flex;

}

.button-dropdown {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    font-weight: 500;

}

.dropdown {
    border: 0px none;
    background-color: #fff0;

}

.button-dropdown {
    background-color: #fff0;
    border: none;
    
}