.date_available-slider {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  
  .container-avs{
    position: relative;
    width: 1400px;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .body-avs {
    overflow: visible;
    position: relative;
  }
  
  .slider {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .date-available-slider .slide {
    flex: 0 0 33.333%;
    padding: 0 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  
  .poster img {
    width: 100%;
    height: auto;
  }
  
  .info {
    text-align: center;
    margin-top: 10px;
  }
  
  .button-sd-bytn {
    text-align: center;
    margin-top: 10px;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 100px;
    z-index: 1000;
    padding: 0;
    width: 50px;
    height: 50px;

  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .prev {
    left: -100px;
  }
  
  .next {
    right: -60px;
  }
  

  .info {
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 82px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #333;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .info .day {
    font-weight: 700;
    font-size: 20px;
    margin-top: -5px;
  }

  .info .date-month {
    font-weight: 500;

  }


  .body-avs {
    width: 50%;
  }

