.you-may-interest {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  
  .container-ymt {
    position: relative;
    width: 1400px;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .body-ymt {
    overflow: visible;
    position: relative;
  }
  
  .slider {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    flex: 0 0 33.333%;
    padding: 0 10px;
  }
  
  .poster img {
    width: 100%;
    height: auto;
  }
  
  .info {
    text-align: center;
    margin-top: 10px;
  }
  
  .button-sd-bytn {
    text-align: center;
    margin-top: 10px;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .prev {
    left: -100px;
  }
  
  .next {
    right: -100px;
  }
  