.hotMovieComedy .slider-prev,
.hotMovieComedy .slider-next {
  position: relative;
  transform: translateY(0%);
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
  background-color: #001529;
  color: #fff;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 200px;
  bottom: 50px;
}

