/* src/Components/CustomList/CustomList.css */

.custom-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.custom-list .List-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
}


.time-item .List-child {
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    width: 80%;
    border: 1px solid #5A637A;
}

.time-item .List-child:hover {
    background-color: #118EEA !important;
    color: #FFFF00;
    position: relative;
    overflow: hidden;
}

.time-item .List-child:hover::after {
    content: ''; /* Tạo một phần tử ảo */
    position: absolute; /* Đặt vị trí tuyệt đối để nằm trên phần tử cha */
    top: 0;
    left: -100%; /* Bắt đầu từ vị trí ngoài biên trái */
    width: 100%; /* Chiều rộng là 100% của phần tử cha */
    height: 100%; /* Chiều cao là 100% của phần tử cha */
    background: linear-gradient(to right, transparent, #118EEA); /* Gradient từ trong suốt đến màu #5A637A */
    animation: slideRight 1s infinite; /* Áp dụng animation */
    z-index: 0;
}

.time-item.active .List-child {
    background-color: #001529;
    color: #FFFF00;
}


.List-container {

}