.container-outside-slider {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  justify-content: center;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 1400px;

  }

  .slider-item {
    flex: 0 0 auto;
    width: calc(100% / 3); /* Đảm bảo rằng chỉ có 3 slider được hiển thị mỗi lần */
    padding: 10px;
}
  
  .slider-prev, .slider-next {
    position: absolute;
    transform: translateY(0%);
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
    background-color: #001529;
    color: #fff;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 200px;
}

.slider-prev[disabled], .slider-next[disabled] {
  opacity: 0.5; /* Giảm opacity xuống 50% khi nút bị tắt */
}


.slider-prev {
  left: 5px;
}

.slider-next {
  right: 5px;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease;
}

.slider-item {
  flex: 0 0 auto;
  width: calc(100% / 3); /* Đảm bảo rằng chỉ có 3 slider được hiển thị mỗi lần */
}
