.Payment_Container {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.Payment_Section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1400px;
    margin: 20px 0;
}

.Payment_Section .col-2 {
    background-color: #fff;
    padding: 20px;
    gap: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 #33333350;
}
.TransactionDetails, .PROMO_FRESHMEN, .TOTAL_PAYMENT {
    border-bottom: 1px solid #333333;
    padding-bottom: 40px;
}
.TransactionDetails span, .PROMO_FRESHMEN span, .TOTAL_PAYMENT span {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;

}
.Payment_movieInfo > div {
    border-bottom: 1px solid #333333;
    
}

.Payment_movieInfo > div > span {
    color: #414A63;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.BoldText, .PROMO_FRESHMEN h4, .TransactionDetails h4 {
    font-weight: 600;
    font-size: 20px;
}

.Order_Title {
    font-size: 24px;
}

.totalTicket {
    font-weight: 600;
}

span > p {
    display: flex;
    gap: 5px;
}

.BuyTicketButton {
    background-color: #001529;
    border: none;
    border-radius: 8px;
    padding: 16px 12px;
    position: relative;
    overflow: hidden;
}

.BuyTicketButton span {
    position: relative;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(45deg, #01FF99, #01CBF8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
}

.BuyTicketButton span:hover {
    animation: gradientAnimation 2s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.returnPrevPage {
    background-color: #fff0;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    font-weight: 700;
    font-size: 30px;

}
.returnPrevPage:hover {
    color: #118EEA;
}
