.body-bookingticket {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.container-bookingticket {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1400px;
    padding: 10px;
    
}
.date-available-slider .slider-container, .chooseTime-container .slider-container {
    position: relative;
    overflow: hidden;
    width: 75%;
}
.date-available-slider .container-outside-slider, .chooseTime-container .container-outside-slider {
    justify-content: start;
}

.date-available-slider, .chooseTime-container {
    display: flex;
    width: 100%;

}
.date-available-slider .slider-item, .chooseTime-container .slider-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.DateAvailable, .TimeAvailable {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #5c5c5c;
    background-color: #fff;
}

.DateAvailable a, .TimeAvailable a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.col-1  {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.col-2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 20px;
}

.form-check {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    min-height: unset;
    padding-left: unset;
    margin-bottom: unset;
}

.DateAvailable.active, .TimeAvailable.active {
    background-color: #001529;
    color: #fff;

}

.DateAvailable input, .TimeAvailable input {
    display: none;
}

.form-check-label .date-month {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}



.movie-title .more-info {
    display: flex;
    flex-direction: row;
}

.movie-title .more-info .col-1 {
    display: flex;
    flex-direction: column;
    width: 40%;

}

.movie-img {
    width: 100%;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    align-self: center;
}
.movie-img img {
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    align-self: center;
}

.chosen-movie-info {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.movie-demoTicket {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
    border: 2px solid #5A637A;
    border-radius: 12px;
    background-color: #FFFFFF;
    margin: 10px 0;
}

.movie-demoTicket .ticket-info {
    display: flex;
    flex-direction: column;
    
}

.ticket-info .child-3 {
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
}

.ticket-info .child-2 {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    font-style: italic;

}

.movie-demoTicket .locationChosen-CityDistrict {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

}

.sublocationCustomerChosen {
    height: fit-content;
}


.dateCustomerChosen {
    color: #5A637A;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.container-2 {
    display: flex;
    flex-direction: column;
}